force-app/main/default/flows/Flux_de_decochage_de_prestations_de_collecte_sur_appel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Generation_des_variables_de_collection_Raisons_de_passage_et_Passages</name>
        <label>Génération des variables de collection Raisons de passage et Passages</label>
        <locationX>21</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>NewRaisonsdepassage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewRaisondepassage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPassages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPassage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_de_la_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_variable_de_collection_raisons_de_passage</name>
        <label>Génération variable de collection raisons de passage</label>
        <locationX>645</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>NewRaisondepassage.RDP_collecte_sur_appel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRaisondepassage.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtenir_les_raisons_de_passage_du_passage_de_la_Loop_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_variable_NewPassage_si_presta</name>
        <label>Génération variable NewPassage si presta</label>
        <locationX>251</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>NewPassage.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Passage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPassage.Passage_collecte_sur_appel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_des_variables_de_collection_Raisons_de_passage_et_Passages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_variable_Passages_pas_de_presta</name>
        <label>Génération variable Passages si pas de presta</label>
        <locationX>228</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>NewPassage.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Passage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPassage.Passage_collecte_sur_appel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_des_variables_de_collection_Raisons_de_passage_et_Passages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementation</name>
        <label>Incrémentation de la variable qui compte le nombre de collectes sur appel</label>
        <locationX>872</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>Nombredeprestadecollecte</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Raisons_de_passage_verif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_de_la_variable</name>
        <label>Reset des variables</label>
        <locationX>88</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>Nombredeprestadecollecte</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopVariableVerif</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_des_raisons_de_passage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Nombre_de_prestation_de_collecte_sur_appel</name>
        <label>Nombre de prestation de collecte sur appel</label>
        <locationX>437</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>Generation_variable_Passages_pas_de_presta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0</defaultConnectorLabel>
        <rules>
            <name>Superieur_ou_egal_a_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombredeprestadecollecte</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generation_variable_NewPassage_si_presta</targetReference>
            </connector>
            <label>Supérieur ou égal à 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prestation_de_collecte_sur_appel</name>
        <label>Prestation de collecte sur appel?</label>
        <locationX>956</locationX>
        <locationY>786</locationY>
        <defaultConnector>
            <targetReference>Raisons_de_passage_verif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas de prestation systématique</defaultConnectorLabel>
        <rules>
            <name>Oui_prestation_systematique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariableVerif.RDP_collecte_sur_appel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incrementation</targetReference>
            </connector>
            <label>Oui, prestation systématique</label>
        </rules>
    </decisions>
    <interviewLabel>Flux de décochage de prestations de collecte sur appel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flux de décochage de prestations de collecte sur appel</label>
    <loops>
        <name>Boucle_des_raisons_de_passage</name>
        <label>Boucle des raisons de passage</label>
        <locationX>247</locationX>
        <locationY>461</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>Toutes_les_raisons_de_passage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generation_variable_de_collection_raisons_de_passage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mise_jour_des_raisons_de_passage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Boucle pour vérifier si les raisons de passage associées au passage de la 1ère boucle ont une collecte systématique ou non</description>
        <name>Raisons_de_passage_verif</name>
        <label>Raisons de passage verif</label>
        <locationX>643</locationX>
        <locationY>785</locationY>
        <assignNextValueToReference>LoopVariableVerif</assignNextValueToReference>
        <collectionReference>Raisonsdepassageverif</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prestation_de_collecte_sur_appel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nombre_de_prestation_de_collecte_sur_appel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenir_les_raisons_de_passage_du_passage_de_la_Loop_Variable</name>
        <label>Obtenir les raisons de passage du passage de la Loop Variable</label>
        <locationX>647</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Raisons_de_passage_verif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Passage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopVariable.Passage__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prestation_de_transport__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Raisons_de_passage__c</object>
        <outputReference>Raisonsdepassageverif</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RDP_collecte_sur_appel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_toutes_les_raisons_de_passage_associees</name>
        <label>Obtenir toutes les raisons de passage associées</label>
        <locationX>93</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_des_raisons_de_passage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prestation_de_transport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Raisons_de_passage__c</object>
        <outputReference>Toutes_les_raisons_de_passage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Passage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mise_jour_des_passages</name>
        <label>Mise à jour des passages</label>
        <locationX>870</locationX>
        <locationY>180</locationY>
        <inputReference>NewPassages</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mise_jour_des_raisons_de_passage</name>
        <label>Mise à jour des raisons de passage</label>
        <locationX>597</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Mise_jour_des_passages</targetReference>
        </connector>
        <inputReference>NewRaisonsdepassage</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtenir_toutes_les_raisons_de_passage_associees</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>LoopVariableVerif</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>NewPassage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passages__c</objectType>
    </variables>
    <variables>
        <name>NewPassages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passages__c</objectType>
    </variables>
    <variables>
        <name>NewRaisondepassage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>NewRaisonsdepassage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>Nombredeprestadecollecte</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Raisonsdepassageverif</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Toutes_les_raisons_de_passage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
</Flow>
