force-app/main/default/flows/Flux_de_cochage_de_prestation_specifique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Generation_des_variables_de_collection_Raisons_de_passage_et_Passages</name>
        <label>Génération des variables de collection Raisons de passage et Passages</label>
        <locationX>247</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>NewRaisonsdepassage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewRaisondepassage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPassages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPassage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_des_raisons_de_passage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_variable_de_collection_raisons_de_passage</name>
        <label>Génération variable de collection raisons de passage</label>
        <locationX>646</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>NewRaisondepassage.RDP_specifique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRaisondepassage.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_variable_Passages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_variable_Passages</name>
        <label>Génération variable Passages</label>
        <locationX>648</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>NewPassage.Passage_specifique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPassage.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Passage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_des_variables_de_collection_Raisons_de_passage_et_Passages</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Flux de cochage de prestation spécifique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flux de cochage de prestation spécifique</label>
    <loops>
        <name>Boucle_des_raisons_de_passage</name>
        <label>Boucle des raisons de passage</label>
        <locationX>246</locationX>
        <locationY>248</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>Toutes_les_raisons_de_passage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generation_variable_de_collection_raisons_de_passage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mise_jour_des_raisons_de_passage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenir_toutes_les_raisons_de_passage_associees</name>
        <label>Obtenir toutes les raisons de passage associées</label>
        <locationX>245</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_des_raisons_de_passage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prestation_de_transport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Raisons_de_passage__c</object>
        <outputReference>Toutes_les_raisons_de_passage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Passage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mise_jour_des_passages</name>
        <label>Mise à jour des passages</label>
        <locationX>693</locationX>
        <locationY>53</locationY>
        <inputReference>NewPassages</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mise_jour_des_raisons_de_passage</name>
        <label>Mise à jour des raisons de passage</label>
        <locationX>500</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Mise_jour_des_passages</targetReference>
        </connector>
        <inputReference>NewRaisonsdepassage</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Obtenir_toutes_les_raisons_de_passage_associees</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>NewPassage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passages__c</objectType>
    </variables>
    <variables>
        <name>NewPassages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passages__c</objectType>
    </variables>
    <variables>
        <name>NewRaisondepassage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>NewRaisonsdepassage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Toutes_les_raisons_de_passage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
</Flow>
