force-app/main/default/flows/Module_test_Adresse_materiel_differente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Envoi_materiel_adresse_differente_faux</name>
        <label>Envoi matériel adresse différente = faux</label>
        <locationX>108</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDadressedistributiondumateriel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDdeposeresultata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Namedeposeresultata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Envoi_materiel_adresse_differente_vrai</name>
        <label>Envoi matériel adresse différente = vrai</label>
        <locationX>401</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alternative</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DecisionEnvoi_du_materiel_une_adresse_differente_des_resultats</name>
        <label>Envoi du matériel à une adresse différente des résultats?</label>
        <locationX>392</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Envoi_materiel_adresse_differente_faux</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DecisionOui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Envoi_du_materiel_une_adresse_differente_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selection_adresse_de_distribution_du_materiel</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <interviewLabel>Module test Adresse matériel différente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Module test Adresse matériel différente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Recuperer_le_nouveau_nom_de_l_adresse_de_distribution_de_materiel</name>
        <label>Récupérer le nouveau nom de l&#39;adresse de distribution de matériel</label>
        <locationX>594</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Envoi_materiel_adresse_differente_vrai</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDadressedistributiondumateriel</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Module_test_Adresse_materiel_differente</name>
        <label>Adresse matériel différente?</label>
        <locationX>224</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionEnvoi_du_materiel_une_adresse_differente_des_resultats</targetReference>
        </connector>
        <fields>
            <name>Envoi_du_materiel_une_adresse_differente_des_resultats</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Envoi du matériel à une adresse différente de celle éditée sur le compte-rendu des résultats?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_adresse_de_distribution_du_materiel</name>
        <label>Sélection adresse de distribution du matériel</label>
        <locationX>595</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recuperer_le_nouveau_nom_de_l_adresse_de_distribution_de_materiel</targetReference>
        </connector>
        <fields>
            <name>textselectionadressedistributionmateriel</name>
            <fieldText>Adresse actuelle de distribution du matériel :
{!NameAdresseDistributionmateriela}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>saisirnomnouvelleadressedistributionmateriel_CL</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Adresses__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>IDadressedistributiondumateriel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IDadressedistributiondumateriel</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Module_test_Adresse_materiel_differente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Alternative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>envoimaterieladressediffdesresultats</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDadressedistributiondumateriel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDdeposeresultata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameAdresseDistributionmateriela</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Namedeposeresultata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
