force-app/main/default/flows/Record_Trigger_Invoice_on_update_Posted_Proprio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_TypeDeRelance_R1_Proprio</name>
        <label>Assign TypeDeRelance R1 Proprio</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>VarT_TypeDeRelance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R1_Proprio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Dunning_and_Collection_R1_Proprio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TypeDeRelance_R2_Proprio</name>
        <label>Assign TypeDeRelance R2 Proprio</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>VarT_TypeDeRelance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R2_Proprio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Dunning_and_Collection_R2_Proprio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TypeDeRelance_R3_Proprio</name>
        <label>Assign TypeDeRelance R3 Proprio</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>VarT_TypeDeRelance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R3_Proprio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Dunning_and_Collection_R3_Proprio</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Invoice_Paid_R1</name>
        <label>Is Invoice Paid R1 ?</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Yes Invoice is Paid</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_must_be_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facture_Proprio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TypeDeRelance_R1_Proprio</targetReference>
            </connector>
            <label>No Invoice must be Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Paid_R2</name>
        <label>Is Invoice Paid R2 ?</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Yes Invoice is Paid</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_must_be_Paid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facture_Proprio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TypeDeRelance_R2_Proprio</targetReference>
            </connector>
            <label>No Invoice must be Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Paid_R3</name>
        <label>Is Invoice Paid R3 ?</label>
        <locationX>1238</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Yes Invoice is Paid</defaultConnectorLabel>
        <rules>
            <name>No_Invoice_must_be_Paid_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facture_Proprio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TypeDeRelance_R3_Proprio</targetReference>
            </connector>
            <label>No Invoice must be Paid</label>
        </rules>
    </decisions>
    <description>Dunning and Collection Proprio
Statut compte rendu is changed</description>
    <environments>Default</environments>
    <interviewLabel>Record-Trigger: Invoice on update Posted Proprio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Invoice on update Posted Proprio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Invoice_Paid_R1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut_Compte_Rendu__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oui</stringValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>PROPRIO_Run_5_Days_after_R1</name>
            <connector>
                <targetReference>Is_Invoice_Paid_R2</targetReference>
            </connector>
            <label>PROPRIO Run 5 Days after R1</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>PROPRIO_Run_35_Days_after_R1</name>
            <connector>
                <targetReference>Is_Invoice_Paid_R3</targetReference>
            </connector>
            <label>PROPRIO Run 35 Days after R1</label>
            <offsetNumber>35</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Dunning_and_Collection_R1_Proprio</name>
        <label>Subflow Dunning and Collection R1 Proprio</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <flowName>Subflow_Dunning_and_Collection_Proprio</flowName>
        <inputAssignments>
            <name>InvoiceCreated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_TypeDeRelance</name>
            <value>
                <elementReference>VarT_TypeDeRelance</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Dunning_and_Collection_R2_Proprio</name>
        <label>Subflow Dunning and Collection R2 Proprio</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <flowName>Subflow_Dunning_and_Collection_Proprio</flowName>
        <inputAssignments>
            <name>InvoiceCreated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_TypeDeRelance</name>
            <value>
                <elementReference>VarT_TypeDeRelance</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Dunning_and_Collection_R3_Proprio</name>
        <label>Subflow Dunning and Collection R3 Proprio</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <flowName>Subflow_Dunning_and_Collection_Proprio</flowName>
        <inputAssignments>
            <name>InvoiceCreated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_TypeDeRelance</name>
            <value>
                <elementReference>VarT_TypeDeRelance</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>800</triggerOrder>
    <variables>
        <name>VarT_TypeDeRelance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
