force-app/main/default/flows/Record_type_compte_desactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>Raisondedesactivation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Raison_de_desactivation__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Record type compte désactivé {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record type compte désactivé</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Changement_de_record_type</name>
        <label>Changement de record type</label>
        <locationX>541</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>TEXTE2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Raison_de_desactivation__c</field>
            <value>
                <elementReference>Raisondedesactivation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121t000000h1LDAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Merci_de_renseigner_la_raison_de_d_sactivation</name>
        <label>Merci de renseigner la raison de désactivation</label>
        <locationX>245</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Changement_de_record_type</targetReference>
        </connector>
        <fields>
            <name>Raison_de_d_sactivation</name>
            <choiceReferences>Raisondedesactivation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Raison de désactivation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TEXTE2</name>
        <label>TEXTE</label>
        <locationX>870</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Texte</name>
            <fieldText>Compte désactivé.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Merci_de_renseigner_la_raison_de_d_sactivation</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
