force-app/main/default/flows/Subflow_Create_payment_allocations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Add the current payment allocation on the invoice line to the collection</description>
        <name>Add_to_Payment_Allocation_Collection</name>
        <label>Add to Payment Allocation Collection</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>PaymentAllocationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_payment_allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create Payment allocation on invoice line record for each invoice line from the payment of the invoice.</description>
        <name>Creation_Payment_Allocation</name>
        <label>Creation Payment Allocation</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PaymentAllocation.blng__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_payment_allocations.blng__TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAllocation.blng__InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_payment_allocations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAllocation.blng__Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAllocation.blng__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAllocation.blng__Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentAllocationNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAllocation.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentId.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Payment_Allocation_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Note in order to identify quickly that the payment allocation has been created from a flow</description>
        <name>PaymentAllocationNotes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Created by Payment Allocation Flow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_the_invoice_contains_invoice_lines</name>
        <label>Does the invoice contains invoice lines?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Paiement_allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_payment_allocations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow to create payment allocations on invoice line from posted full payments
Added CHF</description>
    <environments>Default</environments>
    <interviewLabel>Subflow: Create payment allocations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Create payment allocations</label>
    <loops>
        <description>Loop through each Invoice line to create a payment allocation</description>
        <name>Create_payment_allocations</name>
        <label>Create payment allocations</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Invoice_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Creation_Payment_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Allocation_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Allocation_collection</name>
        <label>Create Payment Allocation collection</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>PaymentAllocationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_lines</name>
        <label>Get Invoice lines</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_invoice_contains_invoice_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Paiement_allocation</name>
        <label>Uncheck Paiement allocation</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_lignes_de_factures__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>blng__Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>PaymentAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAllocationInvoiceLine__c</objectType>
    </variables>
    <variables>
        <description>Collection of all payment allocations related to the invoice lines</description>
        <name>PaymentAllocationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAllocationInvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
</Flow>
