force-app/main/default/flows/suppression_de_prestation_de_transport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_de_l_ID_de_l_adresse</name>
        <label>Attribution de l&#39;ID de l&#39;adresse</label>
        <locationX>685</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>idAdresse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.TECH_ID_ADRESSE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>heuredepassage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVariable.Heure_de_Passage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collecte_systematique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_jeudi</name>
        <label>Attribution jeudi</label>
        <locationX>1882</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>J;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vendredi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_LMMJV</name>
        <label>Attribution LMMJV</label>
        <locationX>965</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LMMJV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_de_l_ID_de_l_adresse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_LMMJVS</name>
        <label>Attribution LMMJVS</label>
        <locationX>796</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LMMJVS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_de_l_ID_de_l_adresse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_lundi</name>
        <label>Attribution lundi</label>
        <locationX>1289</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>L;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mardi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_mardi</name>
        <label>Attribution mardi</label>
        <locationX>1452</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>MA;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mercredi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_mercredi</name>
        <label>Attribution mercredi</label>
        <locationX>1688</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ME;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jeudi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_samedi</name>
        <label>Attribution samedi</label>
        <locationX>2246</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>S;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_de_l_ID_de_l_adresse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_vendredi</name>
        <label>Attribution vendredi</label>
        <locationX>2067</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>V;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Samedi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_de_la_variable_Adresse_de_demande_de_devis</name>
        <label>Génération de la variable Adresse de demande de devis</label>
        <locationX>526</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Adresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idAdresse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Heure_de_debut_texte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heuredepassage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Heure_de_fin_texte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heuredepassage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Jours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suppression de point</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Demande_de_devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Collecte_systematique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_de_la_variable_de_collection_Toutes_les_adresses_de_demande_de_devis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_de_la_variable_Adresse_de_demande_de_devis_sans_collecte</name>
        <label>Génération de la variable Adresse de demande de devis sans collecte</label>
        <locationX>363</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Collecte_systematique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Adresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idAdresse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Heure_de_debut_texte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heuredepassage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Heure_de_fin_texte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heuredepassage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Jours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suppression de point</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Adressedelademandededevis.Demande_de_devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_de_la_variable_de_collection_Toutes_les_adresses_de_demande_de_devis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generation_de_la_variable_de_collection_Toutes_les_adresses_de_demande_de_devis</name>
        <label>Génération de la variable de collection Toutes les adresses de demande de devis</label>
        <locationX>180</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Touteslesadressesdelademandededevis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adressedelademandededevis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RAZ_des_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RAZ_des_variables</name>
        <label>RAZ des variables</label>
        <locationX>497</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>jours</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>idAdresse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>heuredepassage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_de_raisons_de_passage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Collecte_systematique</name>
        <label>Collecte systématique?</label>
        <locationX>544</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Generation_de_la_variable_Adresse_de_demande_de_devis_sans_collecte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas de collecte systématique</defaultConnectorLabel>
        <rules>
            <name>Oui_collecte_systematique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.RDP_collecte_systematique__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generation_de_la_variable_Adresse_de_demande_de_devis</targetReference>
            </connector>
            <label>Oui, collecte systématique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jeudi</name>
        <label>Jeudi?</label>
        <locationX>1932</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Vendredi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas jeudi</defaultConnectorLabel>
        <rules>
            <name>Oui_jeudi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_JEUDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_jeudi</targetReference>
            </connector>
            <label>Oui, jeudi</label>
        </rules>
    </decisions>
    <decisions>
        <name>LMMJV</name>
        <label>LMMJV?</label>
        <locationX>1118</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Lundi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas LMMJV?</defaultConnectorLabel>
        <rules>
            <name>Oui_LMMJV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_LUNDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_MARDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_MERCREDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_JEUDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_VENDREDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_SAMEDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_LMMJV</targetReference>
            </connector>
            <label>Oui, LMMJV?</label>
        </rules>
    </decisions>
    <decisions>
        <name>LMMJVS</name>
        <label>LMMJVS?</label>
        <locationX>972</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>LMMJV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas LMMJVS</defaultConnectorLabel>
        <rules>
            <name>Oui_LMMJVS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_LUNDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_MARDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_MERCREDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_JEUDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_VENDREDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopVariable.TECH_SAMEDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_LMMJVS</targetReference>
            </connector>
            <label>Oui, LMMJVS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lundi</name>
        <label>Lundi?</label>
        <locationX>1334</locationX>
        <locationY>185</locationY>
        <defaultConnector>
            <targetReference>Mardi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non, pas lundi</defaultConnectorLabel>
        <rules>
            <name>Oui_lundi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_LUNDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_lundi</targetReference>
            </connector>
            <label>Oui, lundi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mardi</name>
        <label>Mardi?</label>
        <locationX>1493</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>Mercredi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas mardi</defaultConnectorLabel>
        <rules>
            <name>Oui_mardi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_MARDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_mardi</targetReference>
            </connector>
            <label>Oui, mardi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mercredi</name>
        <label>Mercredi?</label>
        <locationX>1757</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Jeudi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas mercredi</defaultConnectorLabel>
        <rules>
            <name>Oui_mercredi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_MERCREDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_mercredi</targetReference>
            </connector>
            <label>Oui, mercredi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Samedi</name>
        <label>Samedi?</label>
        <locationX>2377</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Attribution_de_l_ID_de_l_adresse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non, pas samedi</defaultConnectorLabel>
        <rules>
            <name>oui_samedi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_SAMEDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_samedi</targetReference>
            </connector>
            <label>oui, samedi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendredi</name>
        <label>Vendredi?</label>
        <locationX>2111</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Samedi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non, pas vendredi</defaultConnectorLabel>
        <rules>
            <name>oui_vendredi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVariable.TECH_VENDREDI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_vendredi</targetReference>
            </connector>
            <label>oui, vendredi</label>
        </rules>
    </decisions>
    <interviewLabel>suppression de prestation de transport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>suppression de prestation de transport</label>
    <loops>
        <name>Boucle_de_raisons_de_passage</name>
        <label>Boucle de raisons de passage</label>
        <locationX>671</locationX>
        <locationY>328</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>ToutesLesRaisonsDePassage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LMMJVS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_des_adresses_de_demande_de_devis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creation_des_adresses_de_demande_de_devis</name>
        <label>Création des adresses de demande de devis</label>
        <locationX>909</locationX>
        <locationY>46</locationY>
        <inputReference>Touteslesadressesdelademandededevis</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperation_des_raisons_de_passage_de_la_prestation</name>
        <label>Récupération des raisons de passage de la prestation</label>
        <locationX>428</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_de_raisons_de_passage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prestation_de_transport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPrestation</elementReference>
            </value>
        </filters>
        <object>Raisons_de_passage__c</object>
        <outputReference>ToutesLesRaisonsDePassage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Passage__c</queriedFields>
        <queriedFields>TECH_ID_ADRESSE__c</queriedFields>
        <queriedFields>Heure_de_Passage__c</queriedFields>
        <queriedFields>TECH_LUNDI__c</queriedFields>
        <queriedFields>TECH_MARDI__c</queriedFields>
        <queriedFields>TECH_MERCREDI__c</queriedFields>
        <queriedFields>TECH_JEUDI__c</queriedFields>
        <queriedFields>TECH_VENDREDI__c</queriedFields>
        <queriedFields>TECH_SAMEDI__c</queriedFields>
        <queriedFields>TECH_DIMANCHE__c</queriedFields>
        <queriedFields>RDP_collecte_systematique__c</queriedFields>
        <sortField>Heure_de_Passage__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Recuperation_des_raisons_de_passage_de_la_prestation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Adressedelademandededevis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adresse_de_la_demande_de_devis__c</objectType>
    </variables>
    <variables>
        <name>heuredepassage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idAdresse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idPassage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idPrestation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Touteslesadressesdelademandededevis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Adresse_de_la_demande_de_devis__c</objectType>
    </variables>
    <variables>
        <name>ToutesLesRaisonsDePassage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Raisons_de_passage__c</objectType>
    </variables>
</Flow>
