unpackaged/main/default/flows/Definir_les_adresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attribution_collecte_adresse_differente_CRU</name>
        <label>Attribution collecte adresse différente CRU</label>
        <locationX>1451</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collecte_une_adresse_differente_du_CRU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_collecte_a_une_adresse_differente_du_CRU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_3b</name>
        <label>Attribution des variables 3b</label>
        <locationX>805</locationX>
        <locationY>1993</locationY>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewadressedecollecteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNewAdressedecollecte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDcollecteA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewadressedecollecteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameCollectea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNewAdressedecollecte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas3b</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_10a</name>
        <label>Attribution des variables cas 10a</label>
        <locationX>2383</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas10a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_10b</name>
        <label>Attribution des variables cas 10b</label>
        <locationX>2479</locationX>
        <locationY>1689</locationY>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas10b</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_1a</name>
        <label>Attribution des variables cas 1a</label>
        <locationX>667</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDcollecteA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameCollectea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas1a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_1b</name>
        <label>Attribution des variables cas 1b</label>
        <locationX>949</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>IDcollecteA</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameCollectea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas1b</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_3a</name>
        <label>Attribution des variables cas 3a</label>
        <locationX>636</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>IDcollecteA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewadressedecollecteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewadressedecollecteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameCollectea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNewAdressedecollecte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNewAdressedecollecte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewadressedecollecteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameNewAdressedecollecte</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas3a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_5a</name>
        <label>Attribution des variables cas 5a</label>
        <locationX>1419</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCollectea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCollectea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas5a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_5b</name>
        <label>Attribution des variables cas 5b</label>
        <locationX>1648</locationX>
        <locationY>1623</locationY>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCollectea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas5b</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_7a</name>
        <label>Attribution des variables cas 7a</label>
        <locationX>2099</locationX>
        <locationY>1667</locationY>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCollectea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Envoidumaterielaladressedecollecte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas7a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_8a</name>
        <label>Attribution des variables cas 8a</label>
        <locationX>180</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas8a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_8b</name>
        <label>Attribution des variables cas 8b</label>
        <locationX>381</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas8b</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_des_variables_cas_9a</name>
        <label>Attribution des variables cas 9a</label>
        <locationX>2215</locationX>
        <locationY>1805</locationY>
        <assignmentItems>
            <assignToReference>IDdeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCollectea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Envoidumaterielaladressedecollecte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cas9a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parametrage_des_adresses_de_transport_confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_mode_d_envoi_des_resultats_et_moyen_de_recuperation_des_prelevements</name>
        <label>Attribution mode d&#39;envoi des résultats et moyen de récupération des prélèvements</label>
        <locationX>1370</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>modedenvoiedesresultats</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selectionner_le_mode_d_envoi_des_resultats</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>moyenrecuperationprelevements</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selectionner_le_moyen_de_recuperation_des_prelevements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionMoyen_de_recuperation_des_prelevements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_1</name>
        <label>Cas 1</label>
        <locationX>1214</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Module_test_Adresse_materiel_differente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_10</name>
        <label>Cas 10</label>
        <locationX>2582</locationX>
        <locationY>1244</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Module_test_Adresse_materiel_differente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_3</name>
        <label>Cas 3</label>
        <locationX>1579</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Module_test_Adresse_materiel_differente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_5</name>
        <label>Cas 5</label>
        <locationX>1959</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Module_test_Adresse_materiel_differente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_7</name>
        <label>Cas 7</label>
        <locationX>2487</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionCas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_8</name>
        <label>Cas 8</label>
        <locationX>2246</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Module_test_Adresse_materiel_differente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cas_9</name>
        <label>Cas 9</label>
        <locationX>2648</locationX>
        <locationY>1378</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionCas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_cas</name>
        <label>Reset cas</label>
        <locationX>630</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Cas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casgereparlassistant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recuperer_les_adresses_du_compte</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annuler</name>
        <choiceText>Annuler</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>noncreeradressecollecte</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>noncreeradressecollecte</stringValue>
        </value>
    </choices>
    <choices>
        <name>nonenvoimateriel</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>nonenvoimateriel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Ouicreeradressecollecte</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ouicreeradressecollecte</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ouienvoimateriel</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ouienvoimateriel</stringValue>
        </value>
    </choices>
    <choices>
        <name>parametrermodesetadresses</name>
        <choiceText>Paramétrer les modes et les adresses de collecte et d&#39;envoi résultats et matériel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>parametrermodesetadresses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Specifieruneadressedefacturationspecifique</name>
        <choiceText>Spécifier une adresse de facturation spécifique</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specifieruneadressedefacturationspecifique</stringValue>
        </value>
    </choices>
    <choices>
        <name>Valider</name>
        <choiceText>Valider</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Adresse_de_collecte_vide</name>
        <label>Adresse de collecte vide?</label>
        <locationX>1677</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Adresse non vide</defaultConnectorLabel>
        <rules>
            <name>Adresse_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDcollecteA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voulez_vous_cr_er_une_adresse_de_collecte</targetReference>
            </connector>
            <label>Adresse vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alternative_a_ou_b_cas_1</name>
        <label>Alternative a ou b cas 1</label>
        <locationX>936</locationX>
        <locationY>1381</locationY>
        <defaultConnector>
            <targetReference>Attribution_des_variables_cas_1b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alternative b cas 1</defaultConnectorLabel>
        <rules>
            <name>Alternative_a_cas_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_1a</targetReference>
            </connector>
            <label>Alternative a cas 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alternative_a_ou_b_cas_10</name>
        <label>Alternative a ou b cas 10</label>
        <locationX>1953</locationX>
        <locationY>1482</locationY>
        <defaultConnector>
            <targetReference>Attribution_des_variables_cas_10b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alternative b cas 10</defaultConnectorLabel>
        <rules>
            <name>Alternative_a_cas_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_10a</targetReference>
            </connector>
            <label>Alternative a cas 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alternative_a_ou_b_cas_3</name>
        <label>Alternative a ou b cas 3</label>
        <locationX>865</locationX>
        <locationY>1724</locationY>
        <defaultConnector>
            <targetReference>Attribution_des_variables_3b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alternative b cas 3</defaultConnectorLabel>
        <rules>
            <name>Alternative_a_cas_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_3a</targetReference>
            </connector>
            <label>Alternative a cas 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alternative_a_ou_b_cas_5</name>
        <label>Alternative a ou b cas 5</label>
        <locationX>1445</locationX>
        <locationY>1495</locationY>
        <defaultConnector>
            <targetReference>Attribution_des_variables_cas_5b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alternative b cas 5</defaultConnectorLabel>
        <rules>
            <name>Alternative_a_cas_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_5a</targetReference>
            </connector>
            <label>Alternative a cas 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alternative_cas_8</name>
        <label>Alternative cas 8</label>
        <locationX>381</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Attribution_des_variables_cas_8b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alternative b cas 8</defaultConnectorLabel>
        <rules>
            <name>Alternative_a_cas_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alternative</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_8a</targetReference>
            </connector>
            <label>Alternative a cas 8</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_cision_envoi_mat_riel_adresse_de_collecte2</name>
        <label>Décision envoi matériel adresse de collecte</label>
        <locationX>2827</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>Cas_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non, pas d&#39;envoi matériel à l&#39;adresse de collecte</defaultConnectorLabel>
        <rules>
            <name>oui_envoi_mat_riel_l_adresse_de_collecte2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Envoi_du_materiel_l_adresse_de_collecte2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ouienvoimateriel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cas_9</targetReference>
            </connector>
            <label>oui, envoi matériel à l&#39;adresse de collecte</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_collecte_a_une_adresse_differente_du_CRU</name>
        <label>Décision collecté à une adresse différente du CRU?</label>
        <locationX>1574</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Cas_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, pas collecté à une adresse différente du CRU</defaultConnectorLabel>
        <rules>
            <name>Oui_collecte_a_une_adresse_differente_du_CRU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collecteauneadressedifferenteduCRU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mode_d_envoi_des_resultats</targetReference>
            </connector>
            <label>Oui, collecté à une adresse différente du CRU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_envoi_materiel_a_l_adresse_de_collecte</name>
        <label>Décision envoi matériel à l&#39;adresse de collecte</label>
        <locationX>2319</locationX>
        <locationY>1108</locationY>
        <defaultConnector>
            <targetReference>Cas_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non, pas d&#39;envoi matériel à l&#39;adresse de collecte</defaultConnectorLabel>
        <rules>
            <name>oui_envoi_materiel_a_l_adresse_de_collecte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Envoi_du_materiel_a_l_adresse_de_collecte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ouienvoimateriel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cas_7</targetReference>
            </connector>
            <label>oui, envoi matériel à l&#39;adresse de collecte</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionCas</name>
        <label>Cas ?</label>
        <locationX>1362</locationX>
        <locationY>1387</locationY>
        <defaultConnector>
            <targetReference>Alternative_a_ou_b_cas_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cas 10</defaultConnectorLabel>
        <rules>
            <name>DecisionCas_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternative_a_ou_b_cas_1</targetReference>
            </connector>
            <label>Cas 1</label>
        </rules>
        <rules>
            <name>DecisionCas_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternative_a_ou_b_cas_3</targetReference>
            </connector>
            <label>Cas 3</label>
        </rules>
        <rules>
            <name>DecisionCas_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternative_cas_8</targetReference>
            </connector>
            <label>Cas 8</label>
        </rules>
        <rules>
            <name>DecisionCas_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_7a</targetReference>
            </connector>
            <label>Cas 7</label>
        </rules>
        <rules>
            <name>DecisionCas_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternative_a_ou_b_cas_5</targetReference>
            </connector>
            <label>Cas 5</label>
        </rules>
        <rules>
            <name>DecisionCas_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_des_variables_cas_9a</targetReference>
            </connector>
            <label>Cas 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionMode_d_envoi_des_resultats_envoi_postal</name>
        <label>Mode d&#39;envoi des résultats (envoi postal)?</label>
        <locationX>1200</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Cas_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Poste ou non imprimé</defaultConnectorLabel>
        <rules>
            <name>Route</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incompatibilite_mode_recuperation_envoi</targetReference>
            </connector>
            <label>Routé</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionMoyen_de_recuperation_des_prelevements</name>
        <label>Moyen de récupération des prélèvements?</label>
        <locationX>1435</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Selection_adresse_de_collecte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collecté chez correspondant maître</defaultConnectorLabel>
        <rules>
            <name>Envoi_postal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner_le_moyen_de_recuperation_des_prelevements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Envoi par le client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionMode_d_envoi_des_resultats_envoi_postal</targetReference>
            </connector>
            <label>Envoi postal</label>
        </rules>
        <rules>
            <name>Collecte_directement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner_le_moyen_de_recuperation_des_prelevements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collecté directement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adresse_de_collecte_vide</targetReference>
            </connector>
            <label>Collecté directement</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionquevoulezvousfaire</name>
        <label>decisionquevoulezvousfaire</label>
        <locationX>1671</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Selection_mode_d_envoi_des_resultats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Paramétrer les modes et les adresses de collecte et d&#39;envoi résultats et matériel</defaultConnectorLabel>
        <rules>
            <name>Specifier_une_adresse_de_facturation_specifique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quevoulezvousfaire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specifieruneadressedefacturationspecifique</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selection_adresse_facturation</targetReference>
            </connector>
            <label>Spécifier une adresse de facturation spécifique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mode_d_envoi_des_resultats</name>
        <label>Mode d&#39;envoi des résultats?</label>
        <locationX>1929</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Saisie_envoi_du_materiel_a_l_adresse_de_collecte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Posté ou Non imprimé</defaultConnectorLabel>
        <rules>
            <name>Route2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incompatibilite_entre_une_collecte_directe</targetReference>
            </connector>
            <label>Routé</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mode_d_envoi_des_resultats_collecte_chez_correspondant_maitre</name>
        <label>Mode d&#39;envoi des résultats (collecté chez correspondant maitre)?</label>
        <locationX>2008</locationX>
        <locationY>1053</locationY>
        <defaultConnector>
            <targetReference>Saisie_envoi_du_materiel_l_adresse_de_collecte2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Posté ou non imprimé</defaultConnectorLabel>
        <rules>
            <name>Route3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selectionner_le_mode_d_envoi_des_resultats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cas_5</targetReference>
            </connector>
            <label>Routé</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valider_ou_annuler</name>
        <label>Valider ou annuler ?</label>
        <locationX>1352</locationX>
        <locationY>2029</locationY>
        <defaultConnector>
            <targetReference>Reset_cas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuler</defaultConnectorLabel>
        <rules>
            <name>DecisionValider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L_assistant_est_termine_Validez_vous_les_informations_saisies</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Valider</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mise_jour_du_compte_avec_les_informations_saisies</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voulez_vous_creer_une_adresse_de_collecte_decision</name>
        <label>Voulez-vous créer une adresse de collecte (décision)</label>
        <locationX>1947</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Selection_mise_jour_adresse_de_collecte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non, ne pas créer une adresse de collecte</defaultConnectorLabel>
        <rules>
            <name>Oui_creer_une_adresse_de_collecte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voulez_vous_cr_er_une_adresse_de_collecte_partir_de_celle_du_compte_rendu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ouicreeradressecollecte</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_d_une_nouvelle_adresse_de_collecte</targetReference>
            </connector>
            <label>Oui, créer une adresse de collecte</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoixModeenvoiresultats</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Mode_d_envoi_des_resultats__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choixmoyenrecuperationprelevements</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Moyen_recuperation_prelevements__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>codepostaldefacturationnumero</name>
        <dataType>Number</dataType>
        <expression>VALUE({!codepostaldefacturation})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulacollecteauneadressedifferenteduCRU</name>
        <dataType>String</dataType>
        <expression>IF({!collecteauneadressedifferenteduCRU} = true, &quot;oui&quot;, &quot;non&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaEnvoidumaterielaladressedecollecte</name>
        <dataType>String</dataType>
        <expression>IF({!Envoidumaterielaladressedecollecte} = true, &quot;oui&quot;, &quot;non&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaenvoimaterieladressediffdesresultats</name>
        <dataType>String</dataType>
        <expression>IF({!envoimaterieladressediffdesresultats} = true, &quot;oui&quot;, &quot;non&quot;)</expression>
    </formulas>
    <formulas>
        <name>textemodedenvoidesresultats</name>
        <dataType>String</dataType>
        <expression>CASE({!modedenvoiedesresultats},
&quot;1&quot;, &quot;1 - ROUTE FRANCE - 1 ENVOI/JOUR&quot;,
&quot;2&quot;, &quot;2 - POSTE FRANCE - ENVOI COR 02926&quot;,
&quot;3&quot;, &quot;3 - POSTE INTERNATIONAL - ENVOI EXPRESS&quot;,
&quot;5&quot;, &quot;5 - POSTE FRANCE - 1 SEUL ENVOI JOURNALIER&quot;,
&quot;6&quot;, &quot;6 - POSTE - CR GROUPE&quot;,
&quot;7&quot;, &quot;7 - ROUTE DOM TOM - 1 ENVOI/JOUR&quot;,
&quot;8&quot;, &quot;8 - ROUTE - RETOUR CERBA (BIOLILLE BOUCHET)&quot;,
&quot;D&quot;, &quot;D - POSTE DOM TOM&quot;,
&quot;E&quot;, &quot;	E - POSTE INTERNATIONAL - ENVOI ETRANGER&quot;,
&quot;G&quot;, &quot;G - NON IMPRIME (GLARIF)&quot;,
&quot;P&quot;,  &quot;P - POSTE FRANCE&quot;,
&quot;Y&quot;, &quot;Y - ROUTE FRANCE&quot;,
&quot;Z&quot;, &quot;Z - NON IMPRIME - CONTROLE QUALITE&quot;,
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Définir les adresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Définir les adresses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_d_une_nouvelle_adresse_de_collecte</name>
        <label>Création d&#39;une nouvelle adresse de collecte</label>
        <locationX>1840</locationX>
        <locationY>1115</locationY>
        <assignRecordIdToReference>NewadressedecollecteID</assignRecordIdToReference>
        <connector>
            <targetReference>Nom_nouvelle_adresse_de_collecte</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_Postal_txt__c</field>
            <value>
                <elementReference>codepostaldefacturation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_etablissement__c</field>
            <value>
                <elementReference>nomducompte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pays__c</field>
            <value>
                <elementReference>paysdefacturation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rue_1__c</field>
            <value>
                <elementReference>ruedefacturation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ville__c</field>
            <value>
                <elementReference>villedefacturation</elementReference>
            </value>
        </inputAssignments>
        <object>Adresses__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccountInfos</name>
        <label>GetAccountInfos</label>
        <locationX>647</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recuperer_les_adresses_du_compte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>villedefacturation</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paysdefacturation</assignToReference>
            <field>BillingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>codepostaldefacturation</assignToReference>
            <field>BillingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ruedefacturation</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>nomducompte</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>raisonsociale</assignToReference>
            <field>Raison_sociale__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>service</assignToReference>
            <field>Service__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Nom_nouvelle_adresse_de_collecte</name>
        <label>Nom nouvelle adresse de collecte</label>
        <locationX>1711</locationX>
        <locationY>1110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cas_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewadressedecollecteID</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameNewAdressedecollecte</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_adresse_de_facturation_specifique</name>
        <label>Obtenir adresse de facturation spécifique</label>
        <locationX>1442</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parametrage_adresses_transport_init</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDadressedefacturationspecifique</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameAdressedefacturationspecifique</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_le_nom_de_l_adresse_collecte_a</name>
        <label>Obtenir le nom de l&#39;adresse collecté a</label>
        <locationX>1254</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenir_adresse_de_facturation_specifique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameCollectea</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_le_nom_de_l_adresse_Distribution_materiel_a</name>
        <label>Obtenir le nom de l&#39;adresse Distribution matériel a</label>
        <locationX>1132</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenir_le_nom_de_l_adresse_collecte_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDdistributionmateriela</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_le_nom_de_l_adresse_edite_sur_le_CR</name>
        <label>Obtenir le nom de l&#39;adresse éditéé sur le CR</label>
        <locationX>866</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenir_nom_adresse_depose_resultat_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDadresseediteesurleCR</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameAdresseediteesurleCR</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_nom_adresse_depose_resultat_a</name>
        <label>Obtenir le nom de l&#39;adresse dépose résultat à</label>
        <locationX>1003</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenir_le_nom_de_l_adresse_Distribution_materiel_a</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDdeposeresultata</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Recuperer_le_nouveau_nom_de_l_adresse_de_collecte</name>
        <label>Récupérer le nouveau nom de l&#39;adresse de collecte</label>
        <locationX>2186</locationX>
        <locationY>826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mode_d_envoi_des_resultats_collecte_chez_correspondant_maitre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameCollectea</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>On récupère la configuration existante des adresses du compte afin de les afficher sur l&#39;écran suivant.</description>
        <name>Recuperer_les_adresses_du_compte</name>
        <label>Récupérer les adresses du compte</label>
        <locationX>722</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenir_le_nom_de_l_adresse_edite_sur_le_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IDadressedefacturationspecifique</assignToReference>
            <field>Adresse_de_facturation_specifique_OLD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDadresseediteesurleCR</assignToReference>
            <field>Adresse_editee_sur_le_CR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDcollecteA</assignToReference>
            <field>Collecte_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>collecteauneadressedifferenteduCRU</assignToReference>
            <field>Collecte_une_adresse_differente_du_CRU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDdeposeresultata</assignToReference>
            <field>Depose_resultat_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <field>Distribution_materiel_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <field>Envoi_materiel_adresse_dif_CR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>modedenvoiedesresultats</assignToReference>
            <field>Mode_d_envoi_des_resultats__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>moyenrecuperationprelevements</assignToReference>
            <field>Moyen_recuperation_prelevements__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Recuperer_nom_nouvelle_adresse_collecte</name>
        <label>Récupérer_nom_nouvelle_adresse_collecte</label>
        <locationX>1543</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collecte_adresse_differente_du_CRU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </filters>
        <object>Adresses__c</object>
        <outputAssignments>
            <assignToReference>NameCollectea</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MAJducompte</name>
        <label>MAJducompte</label>
        <locationX>2074</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>confirmationadressefacturation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adresse_de_facturation_specifique_OLD__c</field>
            <value>
                <elementReference>NouvelleIDadresseediteesurleCR</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mise_jour_du_compte_avec_les_informations_saisies</name>
        <label>Mise à jour du compte avec les informations saisies</label>
        <locationX>1598</locationX>
        <locationY>2021</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adresse_de_facturation_specifique_OLD__c</field>
            <value>
                <elementReference>IDadressedefacturationspecifique</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adresse_editee_sur_le_CR__c</field>
            <value>
                <elementReference>IDadresseediteesurleCR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cas_gere_par_l_assistant__c</field>
            <value>
                <elementReference>casgereparlassistant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collecte_a__c</field>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collecte_une_adresse_differente_du_CRU__c</field>
            <value>
                <elementReference>collecteauneadressedifferenteduCRU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depose_resultat_a__c</field>
            <value>
                <elementReference>IDdeposeresultata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_materiel_a__c</field>
            <value>
                <elementReference>IDdistributionmateriela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Envoi_materiel_adresse_de_collecte__c</field>
            <value>
                <elementReference>Envoidumaterielaladressedecollecte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Envoi_materiel_adresse_dif_CR__c</field>
            <value>
                <elementReference>envoimaterieladressediffdesresultats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_d_envoi_des_resultats__c</field>
            <value>
                <elementReference>modedenvoiedesresultats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moyen_recuperation_prelevements__c</field>
            <value>
                <elementReference>moyenrecuperationprelevements</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Collecte_adresse_differente_du_CRU</name>
        <label>Collecte adresse différente du CRU?</label>
        <locationX>1426</locationX>
        <locationY>863</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_collecte_adresse_differente_CRU</targetReference>
        </connector>
        <fields>
            <name>Collecte_une_adresse_differente_du_CRU</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>L&#39;adresse de collecte est-elle différente de l&#39;adresse du CRU ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirmationadressefacturation</name>
        <label>confirmationadressefacturation</label>
        <locationX>2243</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>texteadressefacturation</name>
            <fieldText>L&#39;adresse de facturation spécifique a bien été enregistrée.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incompatibilite_entre_une_collecte_directe</name>
        <label>Incompatibilité entre une collecte directe et des résultats routés à une autre adresse que celle du CRU</label>
        <locationX>759</locationX>
        <locationY>840</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_mode_d_envoi_des_resultats</targetReference>
        </connector>
        <fields>
            <name>textincompatibilite2</name>
            <fieldText>Incompatibilité entre une collecte directe et des résultats routés à une autre adresse que celle du CRU.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incompatibilite_mode_recuperation_envoi</name>
        <label>Incompatibilité entre le mode de récupération des résultats et le mode d&#39;envoi</label>
        <locationX>945</locationX>
        <locationY>935</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_mode_d_envoi_des_resultats</targetReference>
        </connector>
        <fields>
            <name>textincompatibilite</name>
            <fieldText>Incompatibilité entre le mode de récupération des résultats et le mode édition.
Cliquer sur Suivant pour continuer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parametrage_adresses_transport_init</name>
        <label>Paramétrage des adresses de transport</label>
        <locationX>1664</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionquevoulezvousfaire</targetReference>
        </connector>
        <fields>
            <name>textadressefactu</name>
            <fieldText>&lt;b&gt; Adresse éditée sur le compte-rendu : &lt;/b&gt;
Rue : {!ruedefacturation} 
Code postal : {!codepostaldefacturation}   Ville : {!villedefacturation} 
Pays : {!paysdefacturation}
&lt;b&gt; Raison sociale : &lt;/b&gt;{!raisonsociale}
&lt;b&gt; Service : &lt;/b&gt;{!service}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>quevoulezvousfaire</name>
            <choiceReferences>Specifieruneadressedefacturationspecifique</choiceReferences>
            <choiceReferences>parametrermodesetadresses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Que voulez-vous faire ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parametrage_des_adresses_de_transport_confirmation</name>
        <label>Paramétrage des adresses de transport - confirmation</label>
        <locationX>1370</locationX>
        <locationY>1820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Valider_ou_annuler</targetReference>
        </connector>
        <fields>
            <name>textmodeenvoiresultatsfin</name>
            <fieldText>&lt;b&gt; Mode envoi des résultats : &lt;/b&gt;
{!textemodedenvoidesresultats}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textmoyenderecuperationdesprelevementsfin</name>
            <fieldText>&lt;b&gt; Moyen de récupération des prélèvements : &lt;/b&gt;
{!moyenrecuperationprelevements}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textcollecteadressedifferenteCRUfin</name>
            <fieldText>&lt;p&gt;&lt;b&gt; Collecte à une adresse différente du CRU : &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!formulacollecteauneadressedifferenteduCRU}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textcollecteafin</name>
            <fieldText>&lt;font color=&quot;blue&quot;&gt;&lt;b&gt; Collecté à : &lt;/b&gt;
{!NameCollectea} &lt;/font&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textenvoimaterielaadressedifferentedesresultatsfin</name>
            <fieldText>&lt;p&gt;&lt;b&gt; Envoi matériel à adresse différente des résultats : &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!formulaenvoimaterieladressediffdesresultats}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textdistributionmaterielafin</name>
            <fieldText>&lt;font color=&quot;blue&quot;&gt;&lt;b&gt; Distribution matériel à : &lt;/b&gt;
{!NameAdresseDistributionmateriela} &lt;/font&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textfactureafin</name>
            <fieldText>&lt;font color=&quot;blue&quot;&gt;&lt;b&gt; Facturé à : &lt;/b&gt;
{!NameAdressedefacturationspecifique} &lt;/font&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textdeposeresultatafin</name>
            <fieldText>&lt;font color=&quot;blue&quot;&gt;&lt;b&gt; Dépose résultat à : &lt;/b&gt;
{!NameAdressedeposeresultata} &lt;/font&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textenvoimaterielaladressedecollecte</name>
            <fieldText>&lt;p&gt;&lt;b&gt; Envoi du matériel à l&#39;adresse de collecte &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!formulaEnvoidumaterielaladressedecollecte}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>L_assistant_est_termine_Validez_vous_les_informations_saisies</name>
            <choiceReferences>Valider</choiceReferences>
            <choiceReferences>Annuler</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>L&#39;assistant est terminé. Validez-vous les informations saisies ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saisie_envoi_du_materiel_a_l_adresse_de_collecte</name>
        <label>Saisie envoi du matériel à l&#39;adresse de collecte</label>
        <locationX>2337</locationX>
        <locationY>978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_envoi_materiel_a_l_adresse_de_collecte</targetReference>
        </connector>
        <fields>
            <name>Envoi_du_materiel_a_l_adresse_de_collecte</name>
            <choiceReferences>Ouienvoimateriel</choiceReferences>
            <choiceReferences>nonenvoimateriel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Envoi du matériel à l&#39;adresse de collecte?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saisie_envoi_du_materiel_l_adresse_de_collecte2</name>
        <label>Saisie envoi du matériel à l&#39;adresse de collecte</label>
        <locationX>2604</locationX>
        <locationY>1062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>D_cision_envoi_mat_riel_adresse_de_collecte2</targetReference>
        </connector>
        <fields>
            <name>Envoi_du_materiel_l_adresse_de_collecte2</name>
            <choiceReferences>Ouienvoimateriel</choiceReferences>
            <choiceReferences>nonenvoimateriel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Envoi du matériel à l&#39;adresse de collecte ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_adresse_de_collecte</name>
        <label>Sélection adresse de collecte</label>
        <locationX>2031</locationX>
        <locationY>828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recuperer_le_nouveau_nom_de_l_adresse_de_collecte</targetReference>
        </connector>
        <fields>
            <name>textselectionadressedecollecte</name>
            <fieldText>&lt;b&gt; Adresse éditée sur le compte-rendu : &lt;/b&gt;
Rue : {!ruedefacturation} 
Code postal : {!codepostaldefacturation}   Ville : {!villedefacturation} 
Pays : {!paysdefacturation}
&lt;b&gt; Raison sociale : &lt;/b&gt;{!raisonsociale}
&lt;b&gt; Service : &lt;/b&gt;{!service}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textselectionnernouvelleadressedecollecte</name>
            <fieldText>&lt;b&gt; Sélection de l&#39;adresse de collecte : &lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saisir_le_nom_de_la_nouvelle_adresse_de_collecte_CL</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Adresses__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>IDcollecteA</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IDcollecteA</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_adresse_facturation</name>
        <label>Sélection adresse de facturation</label>
        <locationX>1918</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MAJducompte</targetReference>
        </connector>
        <fields>
            <name>textselectionadresseediteeCR</name>
            <fieldText>&lt;b&gt; Adresse éditée sur le compte-rendu : &lt;/b&gt;
{!ruedefacturation} &amp;&amp; {!codepostaldefacturation} &amp;&amp; {!villedefacturation} &amp;&amp; {!paysdefacturation}
Raison sociale : {!raisonsociale}
Service : {!service} {!NameAdresseediteesurleCR}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nouvelleadresseediteeCR_CL</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Adresses__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>NouvelleIDadresseediteesurleCR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NouvelleIDadresseediteesurleCR</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_mise_jour_adresse_de_collecte</name>
        <label>Sélection mise à jour adresse de collecte</label>
        <locationX>1659</locationX>
        <locationY>865</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recuperer_nom_nouvelle_adresse_collecte</targetReference>
        </connector>
        <fields>
            <name>textselectionmajadressecollecte</name>
            <fieldText>&lt;b&gt; Adresse éditée sur le compte-rendu : &lt;/b&gt;
Rue : {!ruedefacturation} 
Code postal : {!codepostaldefacturation}   Ville : {!villedefacturation} 
Pays : {!paysdefacturation}
&lt;b&gt; Raison sociale : &lt;/b&gt;{!raisonsociale}
&lt;b&gt; Service : &lt;/b&gt;{!service}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text2selectionmajadressecollecte</name>
            <fieldText>&lt;b&gt; Sélection / mise à jour de l&#39;adresse de collecte  : &lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection_MAJ_de_la_nouvelle_adresse_de_collecte_CL</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Adresses__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>IDcollecteA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IDcollecteA</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_mode_d_envoi_des_resultats</name>
        <label>Sélection mode d&#39;envoi des résultats</label>
        <locationX>1066</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_moyen_de_recuperation_des_prelevements</targetReference>
        </connector>
        <fields>
            <name>Selectionner_le_mode_d_envoi_des_resultats</name>
            <choiceReferences>ChoixModeenvoiresultats</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sélectionner le mode d&#39;envoi des résultats :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_moyen_de_recuperation_des_prelevements</name>
        <label>Sélection moyen de récupération des prélèvements</label>
        <locationX>1237</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_mode_d_envoi_des_resultats_et_moyen_de_recuperation_des_prelevements</targetReference>
        </connector>
        <fields>
            <name>Selectionner_le_moyen_de_recuperation_des_prelevements</name>
            <choiceReferences>Choixmoyenrecuperationprelevements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sélectionner le moyen de récupération des prélèvements</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Voulez_vous_cr_er_une_adresse_de_collecte</name>
        <label>Voulez vous créer une adresse de collecte ?</label>
        <locationX>1955</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Voulez_vous_creer_une_adresse_de_collecte_decision</targetReference>
        </connector>
        <fields>
            <name>Voulez_vous_cr_er_une_adresse_de_collecte_partir_de_celle_du_compte_rendu</name>
            <choiceReferences>Ouicreeradressecollecte</choiceReferences>
            <choiceReferences>noncreeradressecollecte</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Voulez-vous créer une adresse de collecte à partir de celle du compte-rendu?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetAccountInfos</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Module_test_Adresse_materiel_differente</name>
        <label>Module test Adresse matériel différente</label>
        <locationX>1366</locationX>
        <locationY>1234</locationY>
        <connector>
            <targetReference>DecisionCas</targetReference>
        </connector>
        <flowName>Module_test_Adresse_materiel_differente</flowName>
        <inputAssignments>
            <name>IDadressedistributiondumateriel</name>
            <value>
                <elementReference>IDdistributionmateriela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IDdeposeresultata</name>
            <value>
                <elementReference>IDdeposeresultata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NameAdresseDistributionmateriela</name>
            <value>
                <elementReference>NameAdresseDistributionmateriela</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Namedeposeresultata</name>
            <value>
                <elementReference>NameAdressedeposeresultata</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>envoimaterieladressediffdesresultats</assignToReference>
            <name>envoimaterieladressediffdesresultats</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDdistributionmateriela</assignToReference>
            <name>IDadressedistributiondumateriel</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NameAdresseDistributionmateriela</assignToReference>
            <name>NameAdresseDistributionmateriela</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NameAdressedeposeresultata</assignToReference>
            <name>Namedeposeresultata</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Alternative</assignToReference>
            <name>Alternative</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Alternative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>casgereparlassistant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>codepostaldefacturation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collecteauneadressedifferenteduCRU</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Debut</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Envoidumaterielaladressedecollecte</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>envoimaterieladressediffdesresultats</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDadressedefacturationspecifique</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDadresseediteesurleCR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDcollecteA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDdeposeresultata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDdistributionmateriela</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modedenvoiedesresultats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>moyenrecuperationprelevements</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameAdressedefacturationspecifique</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameAdressedeposeresultata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameAdresseDistributionmateriela</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameAdresseediteesurleCR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameCollectea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameNewAdressedecollecte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewadressedecollecteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nomducompte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NouvelleIDadresseediteesurleCR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paysdefacturation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>raisonsociale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ruedefacturation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>villedefacturation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
