unpackaged/main/default/flows/Record_Trigger_Invoice_on_Creation_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Does_a_full_Payment_draft_related_to_Order_exist</name>
        <label>Does a full Payment draft related to Order exist ?</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No it does not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_related_to_Order_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_related_to_Order_0.blng__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_with_Invoice_Id</targetReference>
            </connector>
            <label>Yes it does</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_invoice_Proprio</name>
        <label>Is this an invoice Proprio ?</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice_Proprio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facture_Proprio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__NumberOfInvoiceLines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_first_Invoice_Line_Order</targetReference>
            </connector>
            <label>Yes Invoice Proprio</label>
        </rules>
    </decisions>
    <description>2PACE
Dunning and Collection set up
Invoice Posting
Check for Order Payments existing
Modify orders of executions
Add Schedule Path for Allocation of Payments
Do not post invoice //
Invoice Posting Manual</description>
    <environments>Default</environments>
    <formulas>
        <name>ForD_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: Invoice on Creation After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Invoice on Creation After Save and Posted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>2PACE
For Proprio invoice get Order</description>
        <name>Get_first_Invoice_Line_Order</name>
        <label>Get first Invoice Line Order</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_to_Proprio_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_related_to_Order_0</name>
        <label>Get Payment related to Order</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_full_Payment_draft_related_to_Order_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dossier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__TotalAmount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allocate_payment_on_Invoice</name>
        <label>Allocate payment on Invoice</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Allocation_lignes_de_factures__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Post_Payment</name>
        <label>Post Payment</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Allocate_payment_on_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_related_to_Order_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__Status__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <object>blng__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>2PACE
Update Order to Invoice Proprio</description>
        <name>Update_Order_to_Proprio_Invoice</name>
        <label>Update Order to Proprio Invoice</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>blng__Order__c</field>
            <value>
                <elementReference>Get_first_Invoice_Line_Order.blng__OrderProduct__r.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_with_Invoice_Id</name>
        <label>Update Payment with Invoice Id</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Post_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_related_to_Order_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Payment__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Modele_de_Facture__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>proprio</stringValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Invoice_Proprio_Order</name>
            <connector>
                <targetReference>Is_this_an_invoice_Proprio</targetReference>
            </connector>
            <label>Invoice Proprio Order</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Invoice_Proprio_Allocation</name>
            <connector>
                <targetReference>Get_Payment_related_to_Order_0</targetReference>
            </connector>
            <label>Invoice Proprio Allocation</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>400</triggerOrder>
    <variables>
        <name>InvoiceCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
</Flow>
