unpackaged/main/default/flows/Record_Trigger_Invoice_Before_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Payment_variable</name>
        <label>Assign Payment variable</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PaymentId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_full_payment_related_to_invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentId.blng__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_full_payment_related_to_invoice.blng__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentId.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_full_payment_related_to_invoice.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_payment_a_full_payment_against_the_invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_posted_Payments_related_to_the_invoice</name>
        <label>Count posted Payments related to the invoice</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NoPayments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_payments_related_to_the_invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_payment_related_to_the_invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_payment_a_full_payment_against_the_invoice</name>
        <label>Is payment a full payment against the invoice?</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Allocation_Payments_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentId.blng__Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__TotalAmount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_payment_allocations_on_invoice_lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Define if there is one payment, no payment or more for the invoice</description>
        <name>One_payment_related_to_the_invoice</name>
        <label>One payment related to the invoice</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Allocation_Payments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No payment or more than one</defaultConnectorLabel>
        <rules>
            <name>Yes_one_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoPayments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_full_payment_related_to_invoice</targetReference>
            </connector>
            <label>Yes one payment</label>
        </rules>
    </decisions>
    <description>Flow to determine if the payment allocated to the invoice create payment allocation automatically for all invoice lines</description>
    <environments>Default</environments>
    <interviewLabel>Record-Trigger: Invoice Before save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Invoice Before save Check payments allocation creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_full_payment_related_to_invoice</name>
        <label>Get full payment related to invoice</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Payment_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get payments related to the invoice</description>
        <name>Get_payments_related_to_the_invoice</name>
        <label>Get payments related to the invoice</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_posted_Payments_related_to_the_invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Allocation_Payments</name>
        <label>Uncheck Allocation Paiements</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Allocation_lignes_de_factures__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Allocation_Payments_0</name>
        <label>Uncheck Allocation Paiements</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Allocation_lignes_de_factures__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_payments_related_to_the_invoice</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Allocation_lignes_de_factures__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow to create payment allocation on invoice lines from full posted payments.</description>
        <name>Create_payment_allocations_on_invoice_lines</name>
        <label>Create payment allocations on invoice lines</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <flowName>Subflow_Create_payment_allocations</flowName>
        <inputAssignments>
            <name>InvoiceId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentId</name>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>600</triggerOrder>
    <variables>
        <description>Number of posted payments on the invoice</description>
        <name>NoPayments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Payment__c</objectType>
    </variables>
</Flow>
