unpackaged/main/default/flows/Record_Trigger_OrderItem_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Billing_and_Tax_Rules_and_Treatments_College_France</name>
        <label>Assign Billing and Tax Rules and Treatments College France</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CVC_FRANCE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CVC_FRANCE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_France_Metropolitaine_CVC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_France_metropolitaine_CVC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_College</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_and_Tax_Rules_and_Treatments_France</name>
        <label>Assign Billing and Tax Rules and Treatments France</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CV_FRANCE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CV_FRANCE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_France_Metropolitaine__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_France_metropolitaine__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_GL_Billing_and_Tax_Rules_and_Treatments_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_and_Tax_Rules_and_Treatments_Switzerland</name>
        <label>Assign Billing and Tax Rules and Treatments Switzerland</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CV_SUISSE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CV_SUISSE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Switzerland</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_Suisse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_Suisse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_GL_Billing_and_Tax_Rules_and_Treatments_Switzerland</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Rules_and_Tax_Rules_and_Treatments_DOM</name>
        <label>Assign Billing Rules and Tax Rules and Treatments DOM</label>
        <locationX>1634</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CV_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CV_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_GL_Billing_and_Tax_Rules_and_Treatments_DOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Rules_and_Tax_Rules_and_Treatments_Export</name>
        <label>Assign Billing Rules and Tax Rules and Treatments Export</label>
        <locationX>2162</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CV_EXPORT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CV_EXPORT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Export</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_Export__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_Export__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_GL_Billing_and_Tax_Rules_and_Treatments_Export</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Rules_and_Tax_Rules_and_Treatments_TOM</name>
        <label>Assign Billing Rules and Tax Rules and Treatments TOM</label>
        <locationX>1898</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CV_EXPORT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CV_EXPORT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_TOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_TOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_GL_Billing_and_Tax_Rules_and_Treatments_TOM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Manually assign these information because of integration that requires Billing Triggers to be disabled.</description>
        <name>Assign_Finance_Book_0</name>
        <label>Assign Finance Book</label>
        <locationX>1766</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__FinanceBookAccounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.FB_Accounting_CerbavetFrance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_billing_Country_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GL_Billing_and_Tax_Rules_and_Treatments_DOM</name>
        <label>Assign GL Billing and Tax Rules and Treatments DOM</label>
        <locationX>1634</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLRule_CV_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLTreatment_CV_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLRule_CV_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLTreatment_CV_DOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GL_Billing_and_Tax_Rules_and_Treatments_Export</name>
        <label>Assign GL Billing and Tax Rules and Treatments Export</label>
        <locationX>2162</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLRule_CV_Export__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLTreatment_CV_Export__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLRule_CV_Export__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLTreatment_CV_Export__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GL_Billing_and_Tax_Rules_and_Treatments_France</name>
        <label>Assign GL Billing and Tax Rules and Treatments France</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLRule_CV_France__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLTreatment_CV_France__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLRule_CV_France__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLTreatment_CV_France__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GL_Billing_and_Tax_Rules_and_Treatments_Switzerland</name>
        <label>Assign GL Billing and Tax Rules and Treatments Switzerland</label>
        <locationX>1106</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLRule_CV_Suisse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLTreatment_CV_Suisse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLRule_CV_Suisse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLTreatment_CV_Switzerland__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_Switzerland</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GL_Billing_and_Tax_Rules_and_Treatments_TOM</name>
        <label>Assign GL Billing and Tax Rules and Treatments TOM</label>
        <locationX>1898</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLRule_CV_TOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillingGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingGLTreatment_CV_TOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLRule_CV_TOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxGLTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.TaxGLTreatment_CV_TOM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Entity_Cerbavet_College</name>
        <label>Assign Legal Entity Cerbavet College</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.Legal_Entity_Cerbavet_College__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_billing_Country_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Entity_Cerbavet_France</name>
        <label>Assign Legal Entity Cerbavet France</label>
        <locationX>1766</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.Legal_Entity_Cerbavet_FR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Finance_Book_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Entity_Cerbavet_Swizerland</name>
        <label>Assign Legal Entity Cerbavet Swizerland</label>
        <locationX>1106</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cerbavet_Suisse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_and_Tax_Rules_and_Treatments_Switzerland</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revenue_Recognition_Rule_College</name>
        <label>Assign Revenue Recognition Rule College</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__RevenueRecognitionRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.RevenueRecognitionRule_Invoice_Full_CVC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tax_Values_Queue_and_no_Error_College</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revenue_Recognition_Rule_France</name>
        <label>Assign Revenue Recognition Rule France</label>
        <locationX>1766</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__RevenueRecognitionRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.RevenueRecognitionRule_Invoice_Full_CV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tax_Values_Queue_and_no_Error_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revenue_Recognition_Rule_Switzerland</name>
        <label>Assign Revenue Recognition Rule Switzerland</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__RevenueRecognitionRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.BillingIDs__c.RevenueRecognitionRule_Invoice_Full_CH__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tax_Values_Queue_and_no_Error_Switzerland</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Date_and_Billable_Unit_Price_College</name>
        <label>Assign Service Date and Billable Unit Price College</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillableUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillableUnitPriceAnalysis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Recognition_Rule_College</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Date_and_Billable_Unit_Price_France</name>
        <label>Assign Service Date and Billable Unit Price France</label>
        <locationX>1766</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillableUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillableUnitPriceAnalysis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Recognition_Rule_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Date_and_Billable_Unit_Price_Switzerland</name>
        <label>Assign Service Date and Billable Unit Price Switzerland</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__BillableUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillableUnitPriceAnalysis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Recognition_Rule_Switzerland</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_Values_Queue_and_no_Error_College</name>
        <label>Assign Tax Values Queue and no Error College</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxErrorMessage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record_with_Assignments_College</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_Values_Queue_and_no_Error_France</name>
        <label>Assign Tax Values Queue and no Error France</label>
        <locationX>1766</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxErrorMessage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record_with_Assignments_France</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_Values_Queue_and_no_Error_Switzerland</name>
        <label>Assign Tax Values Queue and no Error Switzerland</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.blng__TaxErrorMessage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_Record_with_Assignments_Switzerland</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FranceCountryOverride</name>
        <dataType>String</dataType>
        <value>
            <stringValue>France</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Run_0</name>
        <label>Run</label>
        <locationX>1766</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RunCerbavet_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_VR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_legal_entity</targetReference>
            </connector>
            <label>Run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_billing_Country_0</name>
        <label>Which billing Country?</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_Billing_Rule_Export_CVC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Export</defaultConnectorLabel>
        <rules>
            <name>France_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_and_Tax_Rules_and_Treatments_College_France</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>DOM_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guadeloupe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Martinique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réunion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reunion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Rule_DOM_CVC</targetReference>
            </connector>
            <label>DOM</label>
        </rules>
        <rules>
            <name>TOM_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Southern Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Guiana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayotte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Rule_TOM_CVC</targetReference>
            </connector>
            <label>TOM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_billing_Country_0_0</name>
        <label>Which billing Country?</label>
        <locationX>1766</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_Rules_and_Tax_Rules_and_Treatments_Export</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Export</defaultConnectorLabel>
        <rules>
            <name>France_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_and_Tax_Rules_and_Treatments_France</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>DOM_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guadeloupe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Martinique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réunion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reunion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Rules_and_Tax_Rules_and_Treatments_DOM</targetReference>
            </connector>
            <label>DOM</label>
        </rules>
        <rules>
            <name>TOM_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Southern Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Guiana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayotte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Rules_and_Tax_Rules_and_Treatments_TOM</targetReference>
            </connector>
            <label>TOM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Define which Legal entity is concerned by the order</description>
        <name>Which_legal_entity</name>
        <label>Which legal entity?</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Legal_Entity_Cerbavet_France</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cerbavet France</defaultConnectorLabel>
        <rules>
            <name>Cerbavet_College</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Legal_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.BillingIDs__c.Legal_Entity_Cerbavet_College__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_Entity_Cerbavet_College</targetReference>
            </connector>
            <label>Cerbavet College</label>
        </rules>
        <rules>
            <name>Cerbavet_Suisse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Legal_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.BillingIDs__c.Legal_Entity_Cerbavet_CH__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_Entity_Cerbavet_Swizerland</targetReference>
            </connector>
            <label>Cerbavet Suisse</label>
        </rules>
    </decisions>
    <description>Assign instead of updates on ressource
No schedule path for Tax
Final update with Record Ressource
Add Finance Book and GL Rules and Treatments CV France and Switzerland</description>
    <environments>Default</environments>
    <formulas>
        <name>BillableUnitPriceAnalysis</name>
        <dataType>Number</dataType>
        <expression>{!$Record.UnitPrice} * {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Record-Trigger: OrderItem Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: OrderItem Before and After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Billing_Rule_DOM_CVC</name>
        <label>Update Billing Rule DOM CVC</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Tax_Rule_DOM_CVC</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CVC_DOM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CVC_DOM__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Rule_Export_CVC</name>
        <label>Update Billing Rule Export CVC</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Tax_Rule_Export_CVC</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CVC_EXPORT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CVC_EXPORT__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Rule_TOM_CVC</name>
        <label>Update Billing Rule TOM CVC</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Tax_Rule_TOM_CVC</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingRule_CVC_EXPORT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.BillingTreatment_CVC_EXPORT__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Rule_DOM_CVC</name>
        <label>Update Tax Rule DOM CVC</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_College</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <stringValue>DOM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_DOM_CVC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_DOM_CVC__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Rule_Export_CVC</name>
        <label>Update Tax Rule Export CVC</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_College</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <stringValue>Export</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_Export_CVC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_export_CVC__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tax_Rule_TOM_CVC</name>
        <label>Update Tax Rule TOM CVC</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Assign_Service_Date_and_Billable_Unit_Price_College</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <stringValue>TOM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.TR_TOM_CVC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.TT_TOM_CVC__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record_with_Assignments_College</name>
        <label>Update Triggering Record with Assignments College</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>OrderItem.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillableUnitPrice__c</field>
            <value>
                <elementReference>OrderItem.blng__BillableUnitPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__LegalEntity__c</field>
            <value>
                <elementReference>OrderItem.blng__LegalEntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RevenueRecognitionRule__c</field>
            <value>
                <elementReference>OrderItem.blng__RevenueRecognitionRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxErrorMessage__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxErrorMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxStatus__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record_with_Assignments_France</name>
        <label>Update Triggering Record with Assignments France</label>
        <locationX>1766</locationX>
        <locationY>1607</locationY>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>OrderItem.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillableUnitPrice__c</field>
            <value>
                <elementReference>OrderItem.blng__BillableUnitPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingGLRule__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingGLRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingGLTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingGLTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__FinanceBookAccounting__c</field>
            <value>
                <elementReference>OrderItem.blng__FinanceBookAccounting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__LegalEntity__c</field>
            <value>
                <elementReference>OrderItem.blng__LegalEntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RevenueRecognitionRule__c</field>
            <value>
                <elementReference>OrderItem.blng__RevenueRecognitionRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxErrorMessage__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxErrorMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxGLRule__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxGLRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxGLTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxGLTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxStatus__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record_with_Assignments_Switzerland</name>
        <label>Update Triggering Record with Assignments Switzerland</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>OrderItem.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillableUnitPrice__c</field>
            <value>
                <elementReference>OrderItem.blng__BillableUnitPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingGLRule__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingGLRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingGLTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingGLTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__BillingTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__BillingTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__LegalEntity__c</field>
            <value>
                <elementReference>OrderItem.blng__LegalEntity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RevenueRecognitionRule__c</field>
            <value>
                <elementReference>OrderItem.blng__RevenueRecognitionRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxErrorMessage__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxErrorMessage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxGLRule__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxGLRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxGLTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxGLTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxStatus__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>OrderItem.blng__TaxTreatment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_0</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
