unpackaged/main/default/flows/Record_Trigger_Invoice_on_update_Posted_Clinics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_TypeDeRelance_Clinics_R1</name>
        <label>Assign TypeDeRelance Clinics R1</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>VarT_TypeDeRelanceClinics</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R1_Clinics</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Dunning_and_Collection_R1_Clinics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TypeDeRelance_Clinics_R1_0</name>
        <label>Assign TypeDeRelance Clinics R1</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>VarT_TypeDeRelanceClinics</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R1_Clinics</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Dunning_and_Collection_R1_Clinics_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TypeDeRelance_Clinics_R1_0_0</name>
        <label>Assign TypeDeRelance Clinics R1</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>VarT_TypeDeRelanceClinics</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R1_Clinics</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_Dunning_and_Collection_R1_Clinics_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Invoice_Paid_Cash_on_Invoice</name>
        <label>Is Invoice Paid Cash on Invoice ?</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Yes it is paid or different Payment Terms</defaultConnectorLabel>
        <rules>
            <name>No_it_is_not_paid</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.Termes_de_paiements__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.Termes_de_paiements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Due on receipt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TypeDeRelance_Clinics_R1</targetReference>
            </connector>
            <label>No it is not paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Paid_Net_30</name>
        <label>Is Invoice Paid Net 30 ?</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Yes it is paid or different Payment Terms</defaultConnectorLabel>
        <rules>
            <name>No_it_is_not_paid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.Termes_de_paiements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 30</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TypeDeRelance_Clinics_R1_0</targetReference>
            </connector>
            <label>No it is not paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Paid_Net_60</name>
        <label>Is Invoice Paid Net 60 ?</label>
        <locationX>1238</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Yes it is paid or different Payment Terms</defaultConnectorLabel>
        <rules>
            <name>No_it_is_not_paid_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__PaymentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Account__r.Termes_de_paiements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 60</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TypeDeRelance_Clinics_R1_0_0</targetReference>
            </connector>
            <label>No it is not paid</label>
        </rules>
    </decisions>
    <description>Fixed days</description>
    <environments>Default</environments>
    <interviewLabel>Record-Trigger: Invoice on update Posted Clinics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Invoice on update Posted Clinics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__InvoicePostedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Facture_Proprio__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Clinics_Cash_on_invoice</name>
            <connector>
                <targetReference>Is_Invoice_Paid_Cash_on_Invoice</targetReference>
            </connector>
            <label>Clinics Cash on invoice</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>25</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Clinics_Net_30</name>
            <connector>
                <targetReference>Is_Invoice_Paid_Net_30</targetReference>
            </connector>
            <label>Clinics Net 30</label>
            <offsetNumber>35</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Clinics_Net_60</name>
            <connector>
                <targetReference>Is_Invoice_Paid_Net_60</targetReference>
            </connector>
            <label>Clinics Net 60</label>
            <offsetNumber>65</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Dunning_and_Collection_R1_Clinics</name>
        <label>Subflow Dunning and Collection R1 Clinics</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <flowName>Subflow_Dunning_and_Collection_Proprio</flowName>
        <inputAssignments>
            <name>InvoiceCreated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_TypeDeRelance</name>
            <value>
                <elementReference>VarT_TypeDeRelanceClinics</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Dunning_and_Collection_R1_Clinics_0</name>
        <label>Subflow Dunning and Collection R1 Clinics</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <flowName>Subflow_Dunning_and_Collection_Proprio</flowName>
        <inputAssignments>
            <name>InvoiceCreated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_TypeDeRelance</name>
            <value>
                <elementReference>VarT_TypeDeRelanceClinics</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Dunning_and_Collection_R1_Clinics_0_0</name>
        <label>Subflow Dunning and Collection R1 Clinics</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <flowName>Subflow_Dunning_and_Collection_Proprio</flowName>
        <inputAssignments>
            <name>InvoiceCreated</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarT_TypeDeRelance</name>
            <value>
                <elementReference>VarT_TypeDeRelanceClinics</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1000</triggerOrder>
    <variables>
        <name>VarT_TypeDeRelanceClinics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
