unpackaged/main/default/flows/Schedule_Triggered_Flow_Invoice_Allocation_every_night.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_String_from_Collection_Invoice</name>
        <label>Extract String from Collection Invoice</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Allocation_for_unpaid_posted_Invoices</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>blng__Invoice__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>CollectionInvoice</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CollectionOfInvoiceID</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>QuerySOQLInvoice</name>
        <label>QuerySOQLInvoice</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_SOQL_to_CollectionInvoice</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>blng__Invoice__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>SOQL_QueryString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_SOQL_to_CollectionInvoice</name>
        <label>Assign SOQL to CollectionInvoice</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>CollectionInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuerySOQLInvoice.sObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_String_from_Collection_Invoice</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SOQL_QueryString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select Id from blng__Invoice__c where Allocation_lignes_de_factures__c=false AND Id in (Select blng__Invoice__c from blng__Payment__c where blng__Status__c =&#39;Posted&#39; AND blng__Balance__c &gt;1 AND blng__Invoice__c !=null )</stringValue>
        </value>
    </constants>
    <description>2PACE
Flow to run every night and check all invoice allocation in order to allocate payments.
Bulkify flow to avoid soql limits
Execute SOQL Action</description>
    <environments>Default</environments>
    <interviewLabel>Schedule-Triggered Flow: Invoice Payment Allocation Every night {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule-Triggered Flow: Invoice Payment Allocation every night</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Allocation_for_unpaid_posted_Invoices</name>
        <label>Update Allocation for unpaid posted Invoices</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectionOfInvoiceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocation_lignes_de_factures__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>blng__Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QuerySOQLInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Balance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-31</startDate>
            <startTime>21:37:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectionInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfInvoiceID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
