unpackaged/main/default/flows/Subflow_Dunning_and_Collection_Proprio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Which_type_of_Relance</name>
        <label>Which type of Relance ?</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relance_Proprio_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_TypeDeRelance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1_Proprio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collection_Plan_Proprio</targetReference>
            </connector>
            <label>Relance Proprio 1</label>
        </rules>
        <rules>
            <name>Relance_Proprio_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_TypeDeRelance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R2_Proprio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proprio_Email_2</targetReference>
            </connector>
            <label>Relance Proprio 2</label>
        </rules>
        <rules>
            <name>Relance_Proprio_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_TypeDeRelance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R3_Proprio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proprio_Email_3_0</targetReference>
            </connector>
            <label>Relance Proprio 3</label>
        </rules>
        <rules>
            <name>Relance_Clinics_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarT_TypeDeRelance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R1_Clinics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Collection_Plan_Clinics</targetReference>
            </connector>
            <label>Relance Clinics 1</label>
        </rules>
    </decisions>
    <description>Flow to create collection plan, collection invoice, tasks</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate activity Due date from Dunning activity</description>
        <name>CalculateActivityDueDate_ProprioRelance1</name>
        <dataType>Date</dataType>
        <expression>{!ForD_Today} + {!Get_Proprio_Email_1.SFBD__OffsetDays__c}</expression>
    </formulas>
    <formulas>
        <name>CalculateActivityDueDate_ProprioRelance2</name>
        <dataType>Date</dataType>
        <expression>{!ForD_Today} + {!Get_Proprio_Email_2.SFBD__OffsetDays__c}</expression>
    </formulas>
    <formulas>
        <name>CalculateActivityDueDate_ProprioRelance3</name>
        <dataType>Date</dataType>
        <expression>{!ForD_Today} + {!Get_Proprio_Email_3_0.SFBD__OffsetDays__c}</expression>
    </formulas>
    <formulas>
        <name>ForD_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>ForT_SubjectRelanceClinics1</name>
        <dataType>String</dataType>
        <expression>&#39;R1 Clinics &#39;&amp;{!InvoiceCreated.Numero_Facture_Cerba__c}</expression>
    </formulas>
    <formulas>
        <name>ForT_SubjectRelanceProprio1</name>
        <dataType>String</dataType>
        <expression>&#39;R1 Proprio &#39;&amp;{!InvoiceCreated.Numero_Facture_Cerba__c}</expression>
    </formulas>
    <formulas>
        <name>ForT_SubjectRelanceProprio2</name>
        <dataType>String</dataType>
        <expression>&#39;R2 Proprio &#39;&amp;{!InvoiceCreated.Numero_Facture_Cerba__c}</expression>
    </formulas>
    <formulas>
        <name>ForT_SubjectRelanceProprio3</name>
        <dataType>String</dataType>
        <expression>&#39;R3 Proprio &#39;&amp;{!InvoiceCreated.Numero_Facture_Cerba__c}</expression>
    </formulas>
    <interviewLabel>Subflow: Dunning and Collection Proprio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Dunning and Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Collection_Invoice</name>
        <label>Create Collection Invoice</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Proprio_Email_1</targetReference>
        </connector>
        <inputAssignments>
            <field>SFBD__CollectionsPlan__c</field>
            <value>
                <elementReference>Create_Collection_Plan_Proprio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__InvoiceBalance__c</field>
            <value>
                <elementReference>InvoiceCreated.blng__Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__Invoice__c</field>
            <value>
                <elementReference>InvoiceCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SFBD__CollectionsInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Collection_Invoice_Clinics</name>
        <label>Create Collection Invoice Clinics</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Dunning_Activity_Clinics</targetReference>
        </connector>
        <inputAssignments>
            <field>SFBD__CollectionsPlan__c</field>
            <value>
                <elementReference>Create_Collection_Plan_Clinics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__InvoiceBalance__c</field>
            <value>
                <elementReference>InvoiceCreated.blng__Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__Invoice__c</field>
            <value>
                <elementReference>InvoiceCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SFBD__CollectionsInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Collection_Plan_Clinics</name>
        <label>Create Collection Plan Clinics</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Collection_Invoice_Clinics</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>InvoiceCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__Account__c</field>
            <value>
                <elementReference>InvoiceCreated.blng__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__CollectionsAgent__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_Collection_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__DunningMethod__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_DunningMethod_Clinics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__StartDate__c</field>
            <value>
                <elementReference>ForD_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>SFBD__CollectionsPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Collection_Plan_Proprio</name>
        <label>Create Collection Plan Proprio</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Collection_Invoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>InvoiceCreated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__Account__c</field>
            <value>
                <elementReference>InvoiceCreated.blng__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__CollectionsAgent__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_Collection_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__DunningMethod__c</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_DunningMethod_Proprio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__StartDate__c</field>
            <value>
                <elementReference>ForD_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFBD__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>SFBD__CollectionsPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Proprio_Relance_1</name>
        <label>Create Task Proprio Relance 1</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CalculateActivityDueDate_ProprioRelance1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_Collection_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ForT_SubjectRelanceProprio1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_creation__c</field>
            <value>
                <stringValue>Relance Proprio 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_Collection_Plan_Proprio</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Proprio_Relance_2_0</name>
        <label>Create Task Proprio Relance 2</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CalculateActivityDueDate_ProprioRelance2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_Collection_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ForT_SubjectRelanceProprio2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_creation__c</field>
            <value>
                <stringValue>Relance Proprio 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Collection_Plan_for_R2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Proprio_Relance_3</name>
        <label>Create Task Proprio Relance 3</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CalculateActivityDueDate_ProprioRelance3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_Collection_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ForT_SubjectRelanceProprio3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_creation__c</field>
            <value>
                <stringValue>Relance Proprio 3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Collection_Plan_for_R3.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Clinics_Relance_1</name>
        <label>Create Task Clinics Relance 1</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ForD_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.BillingIDs__c.SFBD_Collection_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ForT_SubjectRelanceClinics1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_creation__c</field>
            <value>
                <stringValue>Relance Clinique 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_Collection_Plan_Clinics</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Collection_Plan_for_R2</name>
        <label>Get Collection Plan for R2</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Proprio_Relance_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceCreated.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFBD__CollectionsPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Collection_Plan_for_R3</name>
        <label>Get Collection Plan for R3</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Proprio_Relance_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceCreated.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFBD__CollectionsPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dunning_Activity_Clinics</name>
        <label>Get Dunning Activity Clinics</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_Clinics_Relance_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clinics Email 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFBD__DunningActivity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proprio_Email_1</name>
        <label>Get Dunning Activity Proprio Email 1</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Proprio_Relance_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proprio Email 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFBD__DunningActivity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proprio_Email_2</name>
        <label>Get Dunning Activity Proprio Email 2</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Collection_Plan_for_R2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proprio Email 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFBD__DunningActivity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proprio_Email_3_0</name>
        <label>Get Dunning Activity Proprio Email 3</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Collection_Plan_for_R3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proprio Email 3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFBD__DunningActivity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_type_of_Relance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <description>Identification de la relance</description>
        <name>VarT_TypeDeRelance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
