unpackaged/main/default/flows/X2_TEST_Cloner_les_adresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Processus_a_relancer</name>
        <label>Processus à relancer?</label>
        <locationX>382</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Non, terminé</defaultConnectorLabel>
        <rules>
            <name>Oui_processus_relancer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Je_souhaite_relancer_le_processus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selection_du_compte</targetReference>
            </connector>
            <label>Oui, processus à relancer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Comptes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Pour_cloner_les_adresses_de_ce_compte_veuillez_saisir_le_nom_du_compte_cible</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121t000000h1KyAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121t000000h1KtAAI</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulehyperlien</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://cerbahealthcare.lightning.force.com/&quot; + {!Comptes}, &quot;choisi&quot;)</expression>
    </formulas>
    <interviewLabel>Cloner les adresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2 TEST Cloner les adresses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtenir_les_adresses_du_compte</name>
        <label>Obtenir les adresses du compte</label>
        <locationX>484</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MAJ_du_compte_avec_les_adresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IDadressedefacturationspecifique</assignToReference>
            <field>Adresse_de_facturation_specifique_OLD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDadresseediteeA</assignToReference>
            <field>Adresse_editee_sur_le_CR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>casgereparlassistant</assignToReference>
            <field>Cas_gere_par_l_assistant__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDcollecteA</assignToReference>
            <field>Collecte_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>collecteadressedifferenteCRU</assignToReference>
            <field>Collecte_une_adresse_differente_du_CRU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDDeposeA</assignToReference>
            <field>Depose_resultat_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IDDistributionmaterialA</assignToReference>
            <field>Distribution_materiel_a__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>envoimaterieldiffdesresultats</assignToReference>
            <field>Envoi_materiel_adresse_dif_CR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>modeenvoiresultats</assignToReference>
            <field>Mode_d_envoi_des_resultats__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>moyenrecuperationprelevements</assignToReference>
            <field>Moyen_recuperation_prelevements__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MAJ_du_compte_avec_les_adresses</name>
        <label>MAJ du compte avec les adresses</label>
        <locationX>638</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Ecran_de_confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Comptes</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adresse_de_facturation_specifique_OLD__c</field>
            <value>
                <elementReference>IDadressedefacturationspecifique</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adresse_editee_sur_le_CR__c</field>
            <value>
                <elementReference>IDadresseediteeA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cas_gere_par_l_assistant__c</field>
            <value>
                <elementReference>casgereparlassistant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collecte_a__c</field>
            <value>
                <elementReference>IDcollecteA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collecte_une_adresse_differente_du_CRU__c</field>
            <value>
                <elementReference>collecteadressedifferenteCRU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depose_resultat_a__c</field>
            <value>
                <elementReference>IDDeposeA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_materiel_a__c</field>
            <value>
                <elementReference>IDDistributionmaterialA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Envoi_materiel_adresse_dif_CR__c</field>
            <value>
                <elementReference>envoimaterieldiffdesresultats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_d_envoi_des_resultats__c</field>
            <value>
                <elementReference>modeenvoiresultats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moyen_recuperation_prelevements__c</field>
            <value>
                <elementReference>moyenrecuperationprelevements</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Choix_des_comptes_cibles</name>
        <label>Choix des comptes cibles</label>
        <locationX>345</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obtenir_les_adresses_du_compte</targetReference>
        </connector>
        <fields>
            <name>Resultats_de_la_recherche</name>
            <choiceReferences>Comptes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Résultats de la recherche :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ecran_de_confirmation</name>
        <label>Ecran de confirmation</label>
        <locationX>638</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Processus_a_relancer</targetReference>
        </connector>
        <fields>
            <name>CompteMAJ</name>
            <fieldText>Le compte choisi a bien été mis à jour.
Cliquer sur le case à cocher ci-dessous pour relancer le processus sinon cliquer sur Suivant pour terminer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Je_souhaite_relancer_le_processus</name>
            <dataType>Boolean</dataType>
            <fieldText>Je souhaite relancer le processus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_du_compte</name>
        <label>Sélection du compte</label>
        <locationX>211</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choix_des_comptes_cibles</targetReference>
        </connector>
        <fields>
            <name>Pour_cloner_les_adresses_de_ce_compte_veuillez_saisir_le_nom_du_compte_cible</name>
            <dataType>String</dataType>
            <fieldText>Pour cloner les adresses de ce compte, veuillez saisir le nom du compte cible :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Selection_du_compte</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>casgereparlassistant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collecteadressedifferenteCRU</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>envoimaterieldiffdesresultats</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDadressedefacturationspecifique</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDadresseediteeA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDcollecteA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDDeposeA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDDistributionmaterialA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modeenvoiresultats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>moyenrecuperationprelevements</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
